*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

/* header */
header{
    background-color: white;
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
}

.nav a, img{
    padding: 0px 10px;
    color: black;
}

.nav-right{
    padding-right: 10px;
}

.nav-right a:last-child{
    background-color: #0061fe;
    color: white;
    padding: 5px 10px;
}

/* main */
main{
    padding-top: 75px;
}
/* jumbotron */
.jumbotron{
    background-color: skyblue;
    height: 400px;
    width: 100%;
}

/* footer */
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-footer:first-child{
    display: flex;
    width: 70%;
    color: white;
}

.row-footer:first-child h4{
    font-size: larger;
    line-height: 3;
}

.row-footer:last-child{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    color: white;

}

.col-footer{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding-top: 50px;
    padding-bottom: 75px;
    color: white
}


.language{
    width: auto;
    border-top: 1px solid white;
    display: flex;
    padding-top: 50px;
}

.language *{
    padding: 0px 5px;
    font-size: 12px;
}