*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a{
    text-decoration: none;
    font-size: 12px;
}


/* header */
header{
    background-color: white;
    position: fixed;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

header div{
    display: flex;
    align-items: center;
}

.nav a, img{
    padding: 0px 10px;
    color: black;
}

.nav-right{
    padding-right: 10px;
}

.nav-right a:last-child{
    background-color: #0061fe;
    color: white;
    padding: 5px 10px;
}


/* main */
main{
    padding-top: 75px;
}


/* jumbotron */
.jumbotron{
    background-color: skyblue;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-jumbo{
    width: 60%;
    font-size: 50px;
    padding-top: 75px;
    padding-bottom: 50px;
}

.row-jumbo{
    display: flex;
    width: 60%;
}

/* col small jumbotron */
.text-jumbo{
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.text-jumbo *{
    padding-bottom: 34px;
}

.trial p{
    padding-top: 25px;
}

.text-jumbo i{
    font-size: 50px;
}

/* col large jumbotron */
.img-jumbo{
    position: relative;
    display: flex;
    justify-content: center;
    width: 70%;
}

.img-jumbo img{
    position: absolute;
    width: 100%;
    height: auto;
}



/* planes */
.planes{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* row 1 */
.row-1{
    padding-top: 150px;
    padding-bottom: 50px;
}

/* row 2 */
.row-2{
    padding-bottom: 30px;
}

.row-2 label{
    margin-right: 25px;
}

/* row 3     */
.row-3{
    display: flex;
    justify-content: space-between;
}

.col-row3{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2;
    padding-bottom: 50px;
}

.user-type{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}

.pack-infos{
    padding: 10px 15px;
    font-size: 12px;
}

.col-row3 .pack-infos div{
    min-height: 150px;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li i{
    padding: 7px 0px;
}

.fa-solid{
    padding-right: 5px;
}

hr{
    width: 34px;
}

.trial-button{
    background-color: #0061fe;
    color: white;
    padding: 10px;
}

/* row 4 */
.row-4{
    border: 1px solid black;
    margin-top: 40px;
    margin-bottom: 100px;
    position: relative;
}

.row-4 .pack-infos div div{
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.row-4 .pack-infos div a{
    position: absolute;
    right: 15px;
    top: 35px
}

.row-4 .pack-infos div:last-child{
    padding: 25px 0px;
}



/* Finding partner */
.finding-partner{
    width: 50%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 150px;
}

.finding-partner div:first-child{
    width: 60%;
}

.finding-partner div:last-child{
    width: 40%;
    padding: 50px 25px;
}

.finding-partner div img{
    width: 100%;
    height: auto;
}

.finding-partner div:last-child *{
    padding-bottom: 34px;
}

.finding-partner div:last-child a{
    border: 1px solid black;
    color: black;
    padding: 10px;
}



/* operations */
.operations{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.row-operations{
    display: flex;
    text-align: center;
}

.col-operations{
    padding: 25px;
}

.col-operations img{
    width: 250px;
    height: auto;
}






/* footer */
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-footer:first-child{
    display: flex;
    width: 70%;
    color: white;
}

.row-footer:first-child h4{
    font-size: larger;
    line-height: 3;
}

.row-footer:last-child{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    color: white;

}

.col-footer{
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding-top: 50px;
    padding-bottom: 75px;
}

.col-footer a{
    color: white;
}

.language{
    width: auto;
    border-top: 1px solid white;
    display: flex;
    padding-top: 50px;
}

.language *{
    padding: 0px 5px;
    font-size: 12px;
}